@page "/"
@using DependencyInjection.Data
@inject IDemo Demo
@inject IDemo Demo2
@inject ProcessDemo ProcessDemo

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<p>
    Startup time @Demo.StartupTime.ToLocalTime().ToString("hh:mm:ss ffffff")
    <br />
    Startup time @Demo2.StartupTime.ToLocalTime().ToString("hh:mm:ss ffffff")
    <br />
    <i>Days in Month: @ProcessDemo.GetDaysInMonth()</i>
</p>


<SurveyPrompt Title="How is Blazor working for you?" />
